div#mobileevent_wrap {
  margin-bottom: 8vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

section#mobileevent {
  position: relative;
  left: 0;
  top: 0;
  width: 86.7%;
}

h2.mobileevent_titie {
  margin-bottom: 4.6vw;
  font: 700 4.3vw 'Noto Sans KR';
}


a.mobileevent_more {
  position: absolute;
  top: 0;
  right: 0;

  font: 400 3.07vw 'Noto Sans KR';
  color: #535353;
}

ul#mobileevent_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul#mobileevent_list>li {
  width: 26vw;
  border-radius: 4vw;
  overflow: hidden;
}

ul#mobileevent_list>li>a {
  display: block;
  width: 100%;
  height: 100%;
}

ul#mobileevent_list>li>a>img {
  display: block;
  max-width: 100%;
  width: auto;
}