div#ready_wrap {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E4C1A1;
}

div#ready_wrap>p {
  font: 700 40px/60px 'Noto Sans KR';
  color: #fff;
}