
.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide:nth-child(1) {
  background: url('/public/images/main_visual_00.jpg') no-repeat center;
  background-size: cover;
}
.swiper-slide:nth-child(2) {
  background: url('/public/images/main_visual_00.jpg') no-repeat center;
  background-size: cover;
}
.swiper-slide:nth-child(3) {
  background: url('/public/images/main_visual_00.jpg') no-repeat center;
  background-size: cover;
} */

.swiper-pagination {
  bottom: 60px !important;
}

.swiper-pagination-bullet {
  margin: 0 7px !important;
  width: 15px;
  height: 15px;
  background: #F9F9F9;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background:#FFC794;
  opacity: 1;
}
