div.detail_visual {
  background: url('/public/images/testbg2.png') no-repeat center !important;
  background-size: cover !important;
}

div#detail_wrap {
  display: flex;
  justify-content: center;
  /* margin-bottom: 120px; */
  margin-bottom: 70px;
  width: 100%;
}

section#detail {
  display: flex;
  width: 1200px;
}

div#detail_img {
  padding: 20px;
  width: 430px;
  min-height: 430px;
  box-sizing: border-box;
  background: #f5f5f5;
}

div#detail_img>img {
  display: block;
  width: 100%;
}

div#detail_buy {
  padding-left: 50px;
  width: 770px;
  /* background: #faa; */
  box-sizing: border-box;
}

p.detail_best {
  display: none;
  margin-bottom: 5px;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #AD7552;

  font: 500 14px/21px 'Noto Sans KR';
  color: #fff;
}

p.detail_best.on {
  display: inline-block;
}

p.detail_category {
  font: 500 14px/21px 'Noto Sans KR';
  color: #AD7552;
}

p.detail_title {
  /* margin-bottom: 10px; */
  font: 700 24px/36px 'Noto Sans KR';
  color: #222;
}

p.detail_price {
  position: relative;
  left: 0;
  top: 0;

  padding-bottom: 15px;
  /* padding-bottom: 25px; */
  /* margin-bottom: 25px; */
  box-sizing: border-box;
  font: 300 16px/24px 'Noto Sans KR';
  color: #222;
}

/* p.detail_price::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 50px;
  height: 2px;
  background: #8B5848;
} */

div.detail_text {
  padding: 20px 0;
  margin-bottom: 40px;
  /* min-height: 179px; */
  /* background: #faa; */
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  box-sizing: border-box;
}

div.detail_text>p {
  font: 300 16px/24px 'Noto Sans KR';
  color: #222;
}

div.detail_text>p.detail_delivery {
  margin-top: 15px;
  font: 300 14px/21px 'Noto Sans KR';
  color: #666;
}

div.detail_text>p.detail_delivery span{
  font-weight: 500;
}

div#buy_btn_wrap {
  display: flex; 
}

div#buy_btn {
  margin-right: 15px;
}

div#buy_btn>button {
  display: block;
  width: 140px;
  height: 50px;
  background: #8B5848;
  border-radius: 50px;
  border: none;
  font: 500 16px 'Noto Sans KR';
  color: #fff;
  text-align: center;
}

button#buy_heartbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #C5C5C5;
  background: #fff;
  font-size: 22px;
  line-height: 50px;
  color: #C5C5C5;
}


/*  */
div#similar_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  width: 100%;
}

section#similar {
  width: 1200px;
}

section#similar h2 {
  margin-bottom: 10px;
  font: 500 20px/30px 'Noto Sans KR';
  color: #333;
}

ul#similar_list {
  display: flex;
}

ul#similar_list>li {
  margin-right: 30px;
  width: 200px;
  background: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

ul#similar_list>li>a {
  display: block;
  width: 100%;
}

ul#similar_list>li>a>img {
  width: 100%;
}

/*  */

div#detail_content_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  width: 100%;
}

section#detail_content {
  width: 1200px;

  min-height: 900px;
  /* background: #F1F1F1; */
  /* background: url('/public/images/testcont.jpg') no-repeat center; */
  text-align: center;
}