div#mobileinfo_wrap {
  margin-bottom: 8vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

section#mobileinfo {
  position: relative;
  left: 0;
  top: 0;

  padding: 4.6vw;
  width: 86.7%;
  background: #E9CDB3;
  border-radius: 4vw;
  box-sizing: border-box;
}

h2.mobileinfo_titie {
  margin-bottom: 4.6vw;
  font: 700 4.3vw 'Noto Sans KR';
  color: #fff;
}

a.mobileinfo_more {
  position: absolute;
  top: 4.6vw;
  right: 4.6vw;

  font: 400 3.07vw 'Noto Sans KR';
  color: #fff;
}

section#mobileinfo>p {
  font: 300 3.07vw 'Noto Sans KR';
  color: #fff;
}