/*  */
a {
  color: #000;
  text-decoration: none;
}

button{
  padding: 0;
}

body,html{
  /* height:100%; */
  min-width: 768px;
}

.hidden {
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 9999;
}

ul#skipmenu_list a:focus {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #000;
  color: #fff;
  top: 0;
  left: 0;
}

.maintitle {
  position: relative;
  left: 0;
  top: 0;
  
  margin-bottom: 40px;
  padding-bottom: 15px;
  box-sizing: border-box;

  /* font:700 40px/60px 'Nanum Gothic'; */
  font:700 35px/60px 'Nanum Gothic';
  text-align: center;
  text-transform: uppercase;
}

.maintitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;

  width: 50px;
  height: 2px;
  background: #8B5848;
}

::-moz-selection {
  background: #E4C1A1;
  color: #fff;
}
::selection {
  background: #E4C1A1;
  color: #fff;
}

/* sub visual */
div.subvisual_wrap{
  display: flex;
  justify-content: center;

  margin-bottom: 120px;
  width: 100%;
  height: 350px;
  background: #E4C1A1 -moz-linear-gradient(top,  rgba(139,88,72,0.5) 0%, rgba(255,248,242,0.5) 100%);
  background: #E4C1A1 -webkit-linear-gradient(top,  rgba(139,88,72,0.5) 0%,rgba(255,248,242,0.5) 100%);
  background: #E4C1A1 linear-gradient(to bottom,  rgba(139,88,72,0.5) 0%,rgba(255,248,242,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808b5848', endColorstr='#80fff8f2',GradientType=0 );
}

section.subvisual {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1200px;
}

section.subvisual>h2 {
  font:700 50px 'Noto Sans KR';
  color: #fff;
}
